.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerStyle {
  background-color: burlywood;
  height: 60vh;
  width: 50vw;
}

h1, h2, h3 {
  color: brown;
}

button {
  background-color: brown;
  border-radius: 5px;
  color: aliceblue;
  display: inline-block;
}

p {
  font-size: 2rem;
  color: white;
}
